- content_for :head, auto_discovery_link_tag(:atom, atom_url(format: :atom), title: t('default_title'))
= render @page
%ul.thumbnails
  = render partial: 'products/welcome_product', collection: @products