%p
  Вставка изображений в текст производится кликом по загруженному изображению. Каждое изображение должно быть в отдельном параграфе. Если [alt] заменить на [left] или [right], то изображение будет обтекаться текстом. При этом важно поместить изображение на предыдущем параграфе от обтекающего текста. Если написать [center], изображение будет оцентровано.
