<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то захотел изменить ваш пароль. Если это были вы нажмите на ссылку ниже.</p>

<p><%= link_to t('passwords.edit.submit'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не хотели изменять пароль удалите это письмо.</p>
<p>Ваш пароль не будет изменён, пока вы не перейдёте по указанной ссылке и не введёте там новый пароль.</p>
